<footer class="pt-8 pb-7">
    <nav>
        <ul
            class="flex items-center justify-center space-x-2 text-center text-onMidgrey small"
        >
            <li>
                <a class="text-onMidgrey" href="/impressum/"> Impressum </a>
            </li>
            <li>
                <a class="text-onMidgrey" href="/datenschutz/"> Datenschutz </a>
            </li>
        </ul>
    </nav>
</footer>
